body {
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}
h1 {
  display: block;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  color: #c2de0d;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #745785;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
}
h3 {
  margin: 10px 0px 23px;
  font-family: Montserrat, sans-serif;
  color: #745785;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  display: block;
  margin-bottom: 5px;
  font-family: Bitter, serif;
  color: #bfd627;
  font-size: 15px;
  line-height: 23px;
  text-align: justify;
}
.button {
  display: inline-block;
  padding: 18px 21px;
  border-radius: 5px;
  background-color: #2ed9f0;
  background-image: url('../images/steam_button.jpg');
  background-size: cover;
  background-repeat: repeat;
  box-shadow: rgba(255, 255, 255, 0.29) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.27) 0px 2px 11px 0px;
  -webkit-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #8e5ebf;
  -webkit-transition-delay: initial;
  -o-transition-delay: initial;
  transition-delay: initial;
}
.button.app-button {
  padding: 8px 17px;
}
.section {
  padding-top: 65px;
  padding-bottom: 65px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.section.hero {
  padding-bottom: 0px;
  background-color: transparent;
  background-image: url('../images/Games-Wallpapers.jpg');
  background-size: cover;
}
.section.white.subfooter {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}
.section.grey {
  background-color: #474545;
}
.section.grey.footer {
  padding-top: 49px;
  padding-bottom: 49px;
  text-align: center;
}
.section.purple {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #745785;
}
.hero-iphone {
  display: block;
  margin-right: auto;
  margin-bottom: -73px;
  margin-left: auto;
  text-shadow: black 0px 0px 0px;
}
.app-name {
  width: 374px;
  margin-top: 3px;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #5c5c5c;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.nav-link {
  display: inline-block;
  margin-right: 12px;
  margin-left: 12px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border 300ms ease;
  -o-transition: border 300ms ease;
  transition: border 300ms ease;
  font-family: Montserrat, sans-serif;
  color: #5c5c5c;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-link:hover {
  border-bottom-color: #f02e4e;
}
.nav-column {
  text-align: right;
}
.hero-header {
  margin-top: 130px;
  margin-bottom: 19px;
  font-family: Montserrat, sans-serif;
  color: #120606;
  font-size: 42px;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
}
.hero-subtitle {
  margin-bottom: 20px;
  color: rgba(8, 3, 3, 0.83);
  font-size: 15px;
  line-height: 22px;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
}
.icon-title {
  margin-top: 22px;
  margin-bottom: 12px;
  font-family: Bitter, serif;
  color: #c1adcc;
  font-size: 17px;
  font-weight: 400;
}
.price-text {
  margin-top: 11px;
  background-image: none;
  box-shadow: none;
  color: white;
  font-size: 25px;
  line-height: 28px;
  font-weight: 400;
  text-shadow: none;
}
.logo-in-footer {
  display: block;
  margin-top: 22px;
  margin-right: auto;
  margin-left: auto;
  text-shadow: black 0px 0px 0px;
}
.left-column {
  padding-top: 35px;
  padding-bottom: 35px;
  border-left: 1px solid rgba(0, 0, 0, 0.09);
}
.subfooter-right {
  padding-top: 35px;
  padding-bottom: 35px;
  border-right: 1px solid rgba(0, 0, 0, 0.09);
  border-left: 1px solid rgba(0, 0, 0, 0.09);
}
.social-button {
  width: 36px;
  height: 36px;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 7px;
  border-radius: 60px;
  background-color: #745785;
  -webkit-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}
.social-button:hover {
  background-color: #f02e4e;
}
.blog-link {
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Bitter, serif;
  color: #fa875b;
  font-size: 18px;
  font-style: italic;
  text-decoration: none;
}
.blog-link:hover {
  color: #ff5917;
}
.footer-link {
  margin-left: 8px;
  border-bottom: 1px solid rgba(131, 125, 153, 0.34);
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Bitter, serif;
  color: #837d99;
  text-decoration: none;
}
.footer-link:hover {
  border-bottom: 1px solid rgba(131, 125, 153, 0.86);
}
.footer-text {
  display: inline;
}
.center {
  text-align: center;
}
.navbar {
  padding-top: 39px;
  padding-bottom: 39px;
  background-color: #474545;
}
.social-widget {
  display: inline-block;
  margin-top: 17px;
  margin-right: 14px;
}
.text-link {
  color: #745785;
  text-decoration: none;
}
.text-link:hover {
  text-decoration: underline;
}
.button-block {
  margin-top: 17px;
}
.logo {
  margin-right: 12px;
  float: left;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}
.joc {
  margin-right: -36px;
  padding-right: 20px;
  padding-left: 21px;
  float: none;
}
.slider {
  background-image: url('../images/crysis%202%20wallpapers.jpg');
}
.watch-dogs {
  width: 410px;
  float: none;
  background-color: transparent;
}
.collor {
  background-color: #f2ff00;
}
.buton-steam {
  width: 244px;
  height: 84px;
  float: none;
  background-color: transparent;
  background-image: url('../images/steam_button.jpg');
  text-align: left;
}
.slides {
  background-image: url('../images/battlefield_4___official_full_hd_wallpaper_by_muusedesign-d61yifn.jpg'), url('../images/Battlefield-4-Games-Wallpaper-HD-1920x10801.jpg');
  background-position: 0% 0%, 50% 50%;
  background-size: contain, contain;
  background-attachment: scroll, scroll;
}
.proprietatislider {
  width: 394px;
  height: 226px;
  float: left;
  border: 5px solid #f90;
}
.slides1 {
  background-image: url('../images/watchdogs.jpg'), url('../images/example-bg.png');
  background-size: contain, 125px;
}
.slide3 {
  background-image: url('../images/wolfenstein.jpg'), url('../images/example-bg.png');
  background-size: contain, contain;
}
.javablock {
  position: static;
}
.javascript-here {
  position: static;
  width: 240px;
  height: 240px;
  padding: 0px;
  clear: both;
}
.wolfensteintext {
  color: #db6e14;
  font-size: 20px;
}
.watchdogsheader {
  color: #c2de0d;
}
.wolfensteinheader {
  color: #c2de0d;
}
.linkdogs {
  color: #34c7c2;
  font-size: 21px;
}
.linkwolf {
  color: #34c7c2;
  font-size: 21px;
}
.facebooklinkblock {
  width: 170px;
  height: 63px;
  background-image: url('../images/facebook.jpg');
  background-size: 170px;
}
.boredsection {
  height: 300px;
  background-color: #b3aaaa;
  color: black;
}
.boredtodeath {
  color: black;
}
.paragraf {
  color: black;
}
.googleplus {
  width: 129px;
  height: 64px;
  background-image: url('../images/Google-Plus-Logo.png');
  background-size: contain;
}
.googleparagraph {
  color: #27d690;
  text-align: justify;
}
.twitterlink {
  width: 161px;
  height: 63px;
  background-image: url('../images/twitter-logo.png');
  background-size: contain;
}
.twitterparagraph {
  color: #e39724;
}
.paragraftwiter {
  color: #d67b27;
  font-style: normal;
  text-align: justify;
}
.submit-label {
  color: #1fdbb6;
}
.label-field {
  color: #1fdbb6;
}
.successtyle {
  color: #b3aaaa;
}
.successs {
  background-color: #b3aaaa;
  color: #0d0505;
}
.paragraf-succes {
  color: #050501;
}
.errormessage {
  background-color: #b3aaaa;
}
.tabsstyle {
  background-color: #f80;
}
.tabsstyle.w--current {
  background-color: #f80;
}
.stilltable {
  background-color: #252b2b;
}
.steamlinking {
  width: 208px;
  background-image: url('../images/steam_button.jpg');
  background-size: contain;
}
@media (max-width: 991px) {
  p {
    font-size: 14px;
    line-height: 21px;
  }
  .section.hero {
    padding-top: 34px;
    padding-bottom: 1px;
  }
  .hero-iphone {
    text-shadow: black 0px 0px 0px;
  }
  .hero-header {
    font-size: 38px;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  }
  .hero-subtitle {
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  }
}
@media (max-width: 767px) {
  h2 {
    margin-top: 0px;
  }
  .section {
    padding-top: 33px;
    padding-bottom: 33px;
    text-align: center;
  }
  .section.hero {
    padding-right: 38px;
    padding-bottom: 52px;
    padding-left: 38px;
    text-align: center;
  }
  .hero-iphone {
    margin-bottom: 1px;
    text-shadow: black 0px 0px 0px;
  }
  .app-name {
    display: inline-block;
    margin-bottom: 0px;
  }
  .nav-column {
    padding-top: 22px;
    text-align: center;
  }
  .hero-header {
    margin-top: 30px;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  }
  .price-text {
    margin-bottom: 31px;
    box-shadow: none;
    text-shadow: none;
  }
  .subfooter-right {
    border-top: 1px solid rgba(0, 0, 0, 0.09);
  }
  .center {
    padding-top: 23px;
    padding-bottom: 23px;
  }
  .navbar {
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
  }
  .social-widget {
    display: inline-block;
    margin-right: 11px;
    margin-left: 11px;
    float: none;
  }
  .logo {
    display: inline-block;
    margin-top: -6px;
    float: none;
  }
}
@media (max-width: 479px) {
  h3 {
    font-size: 18px;
    line-height: 23px;
  }
  .section {
    text-align: center;
  }
  .section.white {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .hero-iphone {
    text-shadow: black 0px 0px 0px;
  }
  .hero-header {
    font-size: 32px;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  }
  .price-text {
    font-size: 23px;
  }
}

